    .color-navbar {
        background-color: #0e81f1 !important;
        background-image: linear-gradient(90deg, #e5007d 0%, #ffce04, #fff   100%);
    }
    
    .color-texto-marca {
        color: #0c2e7e !important;
    }
    