.color-navbar {
    background-color: #00AEEF !important; /* Azul celeste principal */
    background-image: linear-gradient(90deg, #FFCE04, #E5007D, #00AEEF); /* Degradado con amarillo, rosa y azul */
}

.color-texto-marca {
    color: #0C2E7E !important; /* Azul oscuro para el texto */
}
