    .color-navbar {
        background-color: #6500e9 !important;
        background-image: linear-gradient(90deg, #0b2bb8 0%, #db2fb0 100%);
    }
    
    .color-texto-marca {
        color: #0c2e7e !important;
    }
    